/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Section Styles */
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  /* About Section */
  #about {
    background-color: #ffcc00;
    font-size: larger;
  }
  
  /* Services Section */
  #services {
    background-color: #33cc33;
    font-style: oblique;
  }
  
  #services ul {
    list-style-type: none;
    padding: 0;
  }
  
  #services ul li {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Contact Section */
  #contact {
    background-color: #ff6699;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  